@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
:root{
    --success-color:#2ecc71;
    --error-color : #e74e34;
    --shadow-color :box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .5);
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.error input{
    border-color: var(--success-color);
}

.success input{
    border-color: var(--error-color);
}

.form-con small{
    color: var(--error-color);
    visibility: hidden;
}

.error small{
    visibility: visible;
}

.img-logo{
    width: 100px;
}

.btn-buy{
    width: 7rem;
    padding: 10px 15px;
    border-radius:8px;
    text-decoration: none;
    background-color: #5f4ecb;
    color: #f7f7f7;
    font-size: 1.1rem;
}

.price{
    font-weight: bold;
    color: #565a61;
    font-size: 16px;
}

.item-card a>div:hover{
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, .2);
}
.custom-dropdown {
    max-width: 100px; /* ปรับความกว้างตามที่คุณต้องการ */
    overflow-x: auto; /* เพิ่มแถบเลื่อนในกรณีที่เมนูยาวเกินขอบหน้าจอ */
  }
